body
{
    background-color: #000000;
}

.main
{
    width: 99%;
    height: 99%;
    color: #fff;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 400px;
    font-weight: 900;
    overflow: hidden;
}

img
{
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
}

.NyName
{
    font-size: 50%;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'jetbrains mono','Roboto', sans-serif;
}

.Description
{
    position: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 5%;
    font-family: 'jetbrains mono','Roboto', sans-serif;
}