name: gh-pages
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Dioxus Deploy
              uses: DioxusLabs/deploy-action@4f933485ec8f37a9dc1beec181f4eba58789523e
              with:
                  outDirectory: "target/dx/my_website/release/web/public"
              id: deployment
              continue-on-error: true
            - name: Check Deployment Status
              if: steps.deployment.outcome != 'success'
              run: |
                  echo "Deployment failed"
                  exit 1
    deploy-resume:
        # needs: build
        runs-on: ubuntu-latest
        if: success()
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Fetch main
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "actions@github.com"
                  git fetch
            - name: Download Resume
              uses: robinraju/release-downloader@v1.11
              with:
                  latest: true
                  fileName: "resume.pdf"
                  out-file-path: "data/docs/"
                  repository: "MH0386/MH0386"
            - name: Commit and Push Resume
              run: |
                  git add data/docs/
                  git commit -m "Update Docs" || echo "No changes to commit"
                  git pull
                  git push || (echo "Failed to push changes" && exit 1)
            - name: Move Docs
              run: |
                  mv data/docs/** .
            - name: Fetch gh-pages
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "actions@github.com"
                  git fetch
                  git checkout gh-pages || (echo "Failed to checkout gh-pages branch" && exit 1)
            # - name: Download Resume
            #   uses: robinraju/release-downloader@v1.11
            #   with:
            #       latest: true
            #       fileName: "resume.pdf"
            #       repository: "MH0386/MH0386"
            - name: Commit and Push Resume
              run: |
                  git add *.pdf
                  git commit -m "Update Docs" || echo "No changes to commit"
                  git push || (echo "Failed to push changes" && exit 1)
